@model CartViewModel
<div class=" container">
    @foreach (var el in Model.Cart.ListCartItem)
    {
        <div class="alert alert-warning mt-3">
            <b>Помещение:</b>@el.Premises.Name<br />
            <b>Цена:</b>@el.Premises.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>